{{#each comments as |comment|}}
    <div class="card comment-card px-2">
        <p class="mt-2">{{comment.content}}</p>
        <p class="comment-text">{{comment.user.username}}</p>
    </div>
{{/each}}