<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogHub Homepage</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="px-2 pb-3">
        <h1 class="text-center">Welcome to the BlogHub!</h1>
        <nav class="text-right">
            <a href="/">Home</a>
            <a href="/login">Dashboard</a>
            <a href="/login">Log in</a>
        </nav>
        
    </header>
    <main>
        {{{body}}}
    </main>
    
</body>
</html>