<h3 class="px-3 pt-2">Check out these posts:</h3>


{{#each blogposts as |blogpost|}}
    <a href="#" class="blog-link"><div class="card mx-2 my-2 px-2">
        <h4>{{blogpost.title}}</h4>
        <h6>{{blogpost.user.username}}</h6>
        <p>{{blogpost.updatedAt}}</p>
    </div></a>
{{/each}}
<script src="/js/homepage.js"></script>