<h3 class="px-2 pt-2">Write a new post below!</h3>
<form class="px-2">
    <label for="title">Add a title for your blogpost</label>
    <input type="text" name="title" required>

    <label for="content">Add the content of your blogpost</label>
    <textarea name="content" required></textarea>

    <button class='mt-3 p-1' type="submit">Add Post</button>
</form>